* {
    box-sizing: border-box
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    text-decoration: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

    .btn:hover {
        opacity: 0.8;
    }


input[type=text], input[type=password] {
    width: 100%;
    padding: 7px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.container {
    padding: 10px;
    width: 400px;
    border: 1px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
